src/main/resources/etc/BackendSOAPService.wsdl

<?xml version="1.0"?>
<definitions name="BackendSOAPService"

targetNamespace="http://spring.camel.mycompany.com"
          xmlns:tns="http://spring.camel.mycompany.com"
          xmlns:xsd1="http://www.w3.org/2001/XMLSchema"
          xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
          xmlns="http://schemas.xmlsoap.org/wsdl/">

    <types>
       <xsd1:schema targetNamespace="http://spring.camel.mycompany.com">
           <xsd1:element name="TradePriceRequest">
              <xsd1:complexType>
                  <xsd1:all>
                      <xsd1:element name="tickerSymbol" type="xsd1:string"/>
                  </xsd1:all>
              </xsd1:complexType>
           </xsd1:element>
           <xsd1:element name="TradePrice">
              <xsd1:complexType>
                  <xsd1:all>
                      <xsd1:element name="price" type="xsd1:float"/>
                  </xsd1:all>
              </xsd1:complexType>
           </xsd1:element>
       </xsd1:schema>
    </types>

    <message name="GetLastTradePriceInput">
        <part name="body" element="tns:TradePriceRequest"/>
    </message>

    <message name="GetLastTradePriceOutput">
        <part name="body" element="tns:TradePrice"/>
    </message>

    <portType name="BackendSOAPServicePortType">
        <operation name="getLastTradePrice">
           <input message="tns:GetLastTradePriceInput"/>
           <output message="tns:GetLastTradePriceOutput"/>
        </operation>
    </portType>

    <binding name="BackendSOAPServiceBinding" type="tns:BackendSOAPServicePortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="getLastTradePrice">
           <soap:operation soapAction=""/>
           <input>
               <soap:body use="literal"/>
           </input>
           <output>
               <soap:body use="literal"/>
           </output>
        </operation>
    </binding>

    <service name="BackendSOAPServiceService">
        <documentation>My first service</documentation>
        <port name="BackendSOAPPort" binding="tns:BackendSOAPServiceBinding">
           <soap:address location="http://0.0.0.0:9092/backendsoapservice"/>
        </port>
    </service>

</definitions>